.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: rem(16px);
  letter-spacing: 0;
  color: getColor(dark-grey);
  font-weight: getFontWeight(semibold);
  z-index: 100;
  background-color: getColor(white);

  &_wrapper {
    padding: rem(32px) 0;
    border-top: 1px solid getColor(dusty-white);
  }
}


.social {
  margin-right: rem(-10px);

  &__link {
    color: #D8D8D8;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    font-size: rem(20px);
    width: rem(40px);
    padding: rem(5px 10px);

    .icon {
      line-height: normal;
    }

    & + & {
      margin-left: rem(12px);
    }

    &:hover {
      text-decoration: none;
      color: getColor(primary);
    }
  }
}